html
    head 
        title=title
    body
        h1#meter(style="color:blue;font-style:italic")=titulo
        label(for="meter")=min 
        meter(min=min,max=max,value=nivel)
        label(for="meter")=max