<% if(print) {%>

<h1 class="title"><%-titulo%></h1>
<label class="label" for="meter"><%-min%></label>
<meter min="<%-min%>" max="<%-max%>" value="<%-nivel%>" id="meter"></meter>
<label class="label" for="meter"><%-max%></label>
<% } %> 